
    Import League Gothic <3
*/
@font-face {
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.eot');
    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('leaguegothic-regular-webfont.woff') format('woff'),
    url('leaguegothic-regular-webfont.ttf') format('truetype'),
    url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

img, video, iframe {
    max-width: 100%;
}

/* header */

.header-wrapper {
    max-height: 100%;
    background-color: black;
}

header {
    max-width: 80%;
    margin: 0 auto;
    background-image: url(/assets/img/bg.jpg);
    background-size: cover;
    color: rgba(255, 255, 255, .75);
}

.site-logo {
    max-width: 15%;
    height: auto;
    margin: 0 auto;
}

.logo {
    width: 100%;
    margin-top: 20%;
}

.site-description {
    font-family: "Poppins", "Lato","Roboto", Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}


/* /header */

.page-wrap {
    min-height: 100%;
    margin-bottom: 1rem;
}

.page-wrap:after {
    content: "";
    display: block;
}

/* footer */

footer {
    color: rgba(255, 255, 255, .75) !important;    
    background-color: black;
    height: 6rem;
    padding-top: 1rem;
}

.footer-wrapper { 
    max-width: 80%;
    margin: 0 auto;
}

.ui.transparent.icon.input {
    color: rgba(255, 255, 255, .75) !important;
}

.ui.transparent.icon.input input:focus {
    color: rgba(255, 255, 255, .75) !important;
}

/* /footer */

/* main */

main {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
}

.ui.card {
    width: auto !important;
}

.ui.card image  {
    width: 100% !important;
    height: 200px !important;
}

.image {
    max-width: 500px;
    /*max-height: 300px;   I don't want images to be clipped. */
    margin: 0 auto;
}
.image-right {
    max-width: 300px;
    float: right;
    /*max-height: 300px;   I don't want images to be clipped. */
    margin: 0 auto;
}

.image-left {
    max-width: 300px;
    float: left;
    height: auto;
    margin: 0 30px 0 0;
}

/* Not the standard clearfix.  If I used .image-left in a markdown file, each image is placed 
in a separate block and I can't apply a clearfix to the image set.  However, if I apply 
a clearfix just before the next paragraph it works. Not orthodox, but allows me to write 
posts in Markdown instead of HTML */
.clearfix-before::before{
    content: "";
    clear: both;
    display: table;
}

/* Used to make an entire card clickable*/
.clickable {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;     
  z-index: 1;
}

.bio {
    font-weight: bold;
    display: inline-block;
}

.center-text{
    text-align: center;
}

.arrow{
    font-weight: bold;
    line-height: 0.5em;
    text-align: center;
}

.small-date {
    color: rgba(0,0,0,.75);
    font-weight: lighter;   
}

.description {
    word-wrap: break-word;
}

.scroll-code{
    overflow: scroll;
}
/* /main */

/* post */

.post-container {
    font-family: "Open Sans", sans-serif;
}